.card {
    margin: 15px;
}

.img {
    position: relative;
}

.card img {
    width: 100%;
}

.hover-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity .15s linear;
}

.card ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.card li {
    list-style-type: none;
    margin: 1px;
}

.card a {
    color: #fff;
    background-color: #3a454d;
    text-decoration: none;
    padding: 17px;
    transition: background-color.15s linear;
}

.card a:hover {
    background-color: #4e5a62;
}

.title {
    padding: 20px;
    background-color: #e1e6ea;
    transition: background-color .15s linear;
}

.title h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 9px;
    color: #292f36;
    transition: color .15s linear;
}

.title p {
    font-size: 14px;
    color: #8d8f92;
    margin: 0;
    transition: color .15s linear;
}

.card:hover .hover-box {
    opacity: 1;
}

.card:hover .title {
    background-color: #3a454d;
    color: #fff;
}

.card:hover h3 {
    color: #fff;
}

.card:hover p {
    color: #fff;
}

.slider {
    position: relative;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
}

.slider .slick-arrow {
    background-color: #e1e6ea;
    color: #292f36;
    transition: background-color .15s linear, color .15s linear;
    outline: none;
}

.slider .slick-arrow:hover {
    background-color: #4e5a62;
    color: #e1e6ea;
}

.slider .slick-arrow:active {
    transform: scale(.95);
}

.slider .slick-prev:before {
    font-family: 'icomoon'; font-size: 20px; content: "\e967";
}

.slider .slick-next {
    right: 0;
}

.slider .slick-next:before {
    font-family: 'icomoon'; font-size: 20px; content: "\e968";
}

.slider ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slider li button {
    font-size: 0;
    padding: 0;
    margin: 10px;
    width: 7px;
    height: 7px;
    border: none;
    border-radius: 50%;
    background-color: #292f36;
    transition: background-color .15s linear;
}

.slider li button:hover {
    background-color: #4e5a62;
}